<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>397511950748-iev65tkm7bncjicn3jbhnbimk06598ra.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397511950748-iev65tkm7bncjicn3jbhnbimk06598ra</string>
	<key>API_KEY</key>
	<string>AIzaSyBOY-PfNifBPze3mB4aZLDPLa-M5mD4RuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>397511950748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rentcarapp.rentcarapp</string>
	<key>PROJECT_ID</key>
	<string>rentcarapp-dd749</string>
	<key>STORAGE_BUCKET</key>
	<string>rentcarapp-dd749.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:397511950748:ios:64b7d9125c315169554859</string>
</dict>
</plist>